.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.contenido-encima {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20%;
}
