.player-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background: #000000bd;;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 9999;
  transition: all 0.3s ease;
  gap: 15px;
}

.player-container.minimized {
  padding: 10px 20px;
  justify-content: space-between;
}

.player-actions {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  gap: 8px;
}

.player-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  transition: color 0.2s;
}

.player-actions button:hover {
   color: #beddb8;;
}

.playertrack-info {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 30%;
}

.playertrack-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.playertrack-title {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.playertrack-artist {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.main-buttons {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #ffffff;
}

.icon {
  cursor: pointer;
  transition: color 0.2s;
}

.icon:hover {
   color: #beddb8;
}

.progress-bar {
  width: 100%;
  margin-top: 5px;
  background: #beddb8;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 25%;
  justify-content: flex-end;
  color: #beddb8;
}

.volume-bar {
  width: 100px;
  color: #ffffff;
}


.add-btn {
  cursor: pointer;
  transition: color 0.2s;
  color: #ffffff;
}

.add-btn:hover {
color: #beddb8;
}

.heart-btn{
cursor: pointer;
  transition: color 0.2s;
  color: #ffffff;
}

.heart-btn:hover{
  color: #beddb8;
}

.time-elapsed, .time-full{
  color: #ffffff;
}

.progress-bar, .volume-bar {
  accent-color: #ffffff;
}

.progress-bar:hover, .volume-bar:hover {
 accent-color: #beddb8;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* Opcional: espaciado entre los elementos */
}

.time-elapsed, .time-full {
  width: 50px; /* Ajusta según lo que necesites */
  text-align: center;
}

.progress-bar {
  flex: 1;
}