.playermodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(248, 248, 248, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.playermodal-content {
  background: #00000067;
  padding: 2rem;
  border-radius: 12px;
  color: white;
  width: 90%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.playermodal-image {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
